<%= form_for [:admin, @course_queue], html: {class: 'ui form'} do |f| %>
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div class="field">
        <%= f.label :location %>
        <%= f.text_field :location %>
    </div>
    <%= f.hidden_field :course_id %>
    <%= f.submit 'Submit', class: 'ui button' %>
<% end %>
