<div class="six wide centered column">
    <% @courses.each do |course| %>
        <div class="ui fluid card" href="#">
            <div class="content">
                <div class="header"><%= course.name %></div>
                <div class="meta"><%= course.long_name %></div>
            </div>
            <div class="content">
                <h4 class="ui sub header">Open Queues</h4>
                <div class="ui middle aligned selection list">
                    <% course.open_queues.each do |queue| %>
                        <a class="item" href="<%= url_for queue %>">
                            <div class="right floated content">
                                <span data-tooltip="Matt Terwilliger" data-position="top center" data-inverted="">
                                    <img class="ui avatar image" src="https://avatars1.githubusercontent.com/u/5882053?v=3&s=460">
                                </span>
                                <span data-tooltip="Matt Terwilliger" data-position="top center" data-inverted="">
                                    <img class="ui avatar image" src="https://avatars1.githubusercontent.com/u/5882053?v=3&s=460">
                                </span>
                            </div>
                            <div class="content">
                                <div class="header"><%= queue.name %></div>
                                <%= queue.location %>
                            </div>
                        </a>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>
