<%= form_for [@course, @course_queue], html: {class: 'ui form'} do |f| %>
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div class="field">
        <%= f.label :location %>
        <%= f.text_field :location %>
    </div>

    <div class="field">
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>

    <%= f.submit 'Submit', class: 'ui button' %>
<% end %>
