<div data-cable-container="instructors" class="ui right floated images">
</div>

<h1 class="ui left floated header">
    <span id="course-queue-name"
        data-current-user-instructor="<%= current_user.instructor_for_course_queue?(@course_queue) %>"
        data-current-user-id="<%= current_user.id %>"
        data-course-queue-id="<%= @course_queue.id %>">
        <%= @course_queue.course.name %>
    </span>
    <div class="sub header">
        <%= @course_queue.name %> 

        <% if @course_queue.location.present? %>
        <small>(<%= @course_queue.location %>)</small>
        <% end %>
    </div>
</h1>
