<%= render 'shared/breadcrumbs', trail: [
    { title: @course_queue.course.name, href: url_for(@course_queue.course) },
    @course_queue.name
] %>

<div id="app" class="sixteen wide column"></div>

<script type="text/babel">
    ReactDOM.render(
      <CourseQueue
          courseName={"<%= @course_queue.course.name %>"}
          queueName={"<%= @course_queue.name %>"}
          queueLoc={"<%= @course_queue.location %>"}
          currentUserId={<%= current_user.id %>}
          instructor={<%= @is_instructor %>}
          id={<%= @course_queue.id %>}
      />,
      document.getElementById('app')
    );
</script>
