<div class="sixteen wide column">
    <%= render 'shared/breadcrumbs', trail: [ @course_queue.course.name, @course_queue.name ] %>
</div>

<div class="sixteen wide column">
    <%= render 'header', instructors: @course_queue.active_instructors %>
</div>

<div class="six wide column">
    <div data-cable-container="action-content" class="ui disabled loading segment">
        <% if current_user.instructor_for?(@course_queue.course) %>
            <%= render 'admin_panel' %>
        <% else %>
        <% end %>
    </div>
</div>


<div class="ten wide column">
    <div class="ui disabled loading segment" style="min-height: 200px;">
        <h4 class="ui header">Queue 
            <div data-cable-container="requests-count" class="ui teal tiny horizontal label">
            </div>
        </h4>
        <div data-cable-container="requests" class="ui comments">
        </div>
    </div>

</div>

<div class="templates" style="display: none;">
    <%= render 'request_template' %>
    <%= render 'help_request_form_template' %>
    <%= render 'my_request_template' %>
</div>
