<div class="sixteen wide column">
    <%= render 'shared/breadcrumbs', trail: [ @course_queue.course.name, @course_queue.name ] %>
</div>

<div class="sixteen wide column">
    <%= render 'header', instructors: @course_queue.active_instructors %>
</div>

<div class="six wide column">
    <div class="ui stacked segment">
        <% if current_user.instructor_for?(@course_queue.course) %>
            <%= render 'admin_panel' %>
        <% else %>
            <%= render 'help_request_form' %>
        <% end %>
    </div>
</div>


<div class="ten wide column">
    <div class="ui stacked segment">
        <h4 class="ui header">Queue 
            <div id="queue-count" class="ui teal tiny horizontal label">
                <%= @course_queue.outstanding_requests.count %>
            </div>
        </h4>
        <div class="ui comments">
            <% @course_queue.outstanding_requests.each do |request| %>
                <%= render 'request', request: request %>
            <% end %>
        </div>
    </div>

</div>
