<%= form_for [:admin, @course], html: {class: 'ui form'} do |f| %>
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div class="field">
        <%= f.label :long_name %>
        <%= f.text_field :long_name %>
    </div>

    <div class="field">
        <%= f.label :slug %>
        <%= f.text_field :slug %>
    </div>

    <div class="field">
        <%= f.label "Sort by number of previous resolved requests" %>
        <%= f.check_box :sort_by %>
    </div>

    <%= f.submit 'Submit', class: 'ui button' %>
<% end %>
