<table class="ui table">
    <thead>
        <tr><th style="width: 50%">Course Queue Name</th>
            <th style="width: 40%">Location</th>
            <th style="width: 10%">Group Mode</th>
            <th style="width: 10%">Exclusive Mode</th>
            <th>
                <a href="<%= new_admin_course_queue_path(@course) %>" class="ui primary labeled icon fluid button">
                    <i class="plus icon"></i>
                    New
                </a>
            </th>
    </tr></thead>
    <tbody>
        <% @course.course_queues.each do |queue| %>
            <tr>
                <td><%= queue.name %></td>
                <td><%= queue.location %></td>
                <td><div class="ui disabled toggle checkbox">
                        <input type="checkbox" disabled="disabled" <%= 'checked' if queue.group_mode %>>
                        <label></label>
                    </div></td>
                <td><div class="ui disabled toggle checkbox">
                        <input type="checkbox" disabled="disabled" <%= 'checked' if queue.exclusive %>>
                        <label></label>
                    </div></td>
                <td>
                    <div class="ui fluid basic buttons">
                        <%= link_to 'Edit', edit_admin_course_queue_path(queue), class: 'ui button' %>
                        <%= link_to 'Delete', admin_course_queue_path(queue),  method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui button' %>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
