<!DOCTYPE html>
<html>
    <head>
        <title>Classroom Help Queue</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>

        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </head>

    <body>
        <div class="main">
            <div class="ui stackable grid container">
                <%= yield %>

                <div class="one wide row">
                    <div class="centered text column">
                        <%= render 'shared/footer' %>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
